@using System.Threading.Tasks
@using GazetaDoTocantins.UI.Site.Extensions
@model Gzt.Infra.CrossCutting.Identity.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Identificação</h2>
<hr />
<form id="cliente_cadastro" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" >
    <div class="highlight" id="divs">
        @foreach (PessoaTipo gender in Enum.GetValues(typeof(PessoaTipo)))
        {
            <label class="radio-inline">
                <input asp-for="PessoaTipo" type="radio" value="@gender" />
                @gender.GetDisplayName()
            </label>
        }
       
    </div>      
    <div class="highlight">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-lg-6" id="info_Fisica" style="display:block;">
            <h3  style="color:#e89005;">Dados Pessoais</h3><hr />
            <div class="form-group">
                <label asp-for="NomeCompleto"></label>               
                <input asp-for="NomeCompleto" class="form-control" placeholder="Nome Completo" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>               
            </div>
            <div class="form-group">
                <label asp-for="Cpf"></label>                
                <input asp-for="Cpf" class="form-control" placeholder="CPF" maxlength="14" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-4" style="margin-right:-23px;">
                    <label>Telefone</label>
                    <select  class="form-control" asp-for="EnumTelefoneTipo" asp-items="Html.GetEnumSelectList<EnumTelefoneTipo>()">                        
                    </select>
                </div>
                <div class="col-lg-2" style="margin-right:-23px;">
                    <label>.</label>
                    <input type="text" class="form-control" name="name" value="" placeholder="DDD" />
                </div>
                <div class="col-lg-4">
                    <label>.</label>
                    <input type="text" class="form-control" name="name" value="" placeholder="Telefone" />
                </div>                                
            </div>
        </div>
        <div class="col-lg-6" id="info_Juridica" style="display:none;">
            <h3 style="color:#e89005;">Dados da empresa</h3><hr />
            <div class="form-group">
                <label asp-for="RazaoSocial"></label>
                <input asp-for="RazaoSocial" class="form-control" placeholder="Razão Social" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFantasia"></label>
                <input asp-for="NomeFantasia" class="form-control" placeholder="Nome Fantasia" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 style="color:#e89005;">Dados de acesso</h3>
            <hr />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
           </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>  
         
        <button type="submit" class="btn btn-success">Cadastrar</button>          
    </div>
</form>

<hr />
<form class="form-horizontal" style="max-width:450px;">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">

            <div class="phone-list">

                <div class="input-group phone-input">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">Type</span> <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="changeType" href="javascript:;" data-type-value="phone">Phone</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="fax">Fax</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="mobile">Mobile</a></li>
                        </ul>
                    </span>
                    <input type="hidden" name="phone[1][type]" class="type-input" value="" />
                    <input type="text" name="phone[1][number]" class="form-control" placeholder="+1 (999) 999 9999" />
                </div>

            </div>


            <button type="button" class="btn btn-success btn-sm btn-add-phone"><span class="glyphicon glyphicon-plus"></span> Add Phone</button>
        </div>

    </div>

</form>


<hr />
<table>
    <tr>
        <th>Days of Week</th>
        <td>
            <div class="checkbox-group" id="checkboxes">
                <ul>
                    <li>
                        <input type="checkbox" id="mon" />
                        <label for="mon">MON</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tue" />
                        <label for="tue">TUE</label>
                    </li>
                    <li>
                        <input type="checkbox" id="wed" />
                        <label for="wed">WED</label>
                    </li>
                    <li>
                        <input type="checkbox" id="thur" />
                        <label for="thur">THUR</label>
                    </li>
                    <li>
                        <input type="checkbox" id="fri" />
                        <label for="fri">FRI</label>
                    </li>
                    <li>
                        <input type="checkbox" id="sat" />
                        <label for="sat">SAT</label>
                    </li>
                    <li>
                        <input type="checkbox" id="sun" />
                        <label for="sun">SUN</label>
                    </li>
                </ul>
            </div>
            <span id="allChecked" style="display:block; width:425px; text-align:center; color:#999999;">
                (all days selected)
            </span>
        </td>
    </tr>

</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
    <script type="text/javascript">
        
        $(document).ready(function () {
            $(document.body).on('click', '.changeType' ,function(){
				$(this).closest('.phone-input').find('.type-text').text($(this).text());
				$(this).closest('.phone-input').find('.type-input').val($(this).data('type-value'));
			});
			
			$(document.body).on('click', '.btn-remove-phone' ,function(){
				$(this).closest('.phone-input').remove();
			});
			
			
			$('.btn-add-phone').click(function(){

				var index = $('.phone-input').length + 1;
				
				$('.phone-list').append(''+
						'<div class="input-group phone-input">'+
							'<span class="input-group-btn">'+
								'<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">Type</span> <span class="caret"></span></button>'+
								'<ul class="dropdown-menu" role="menu">'+
									'<li><a class="changeType" href="javascript:;" data-type-value="phone">Phone</a></li>'+
									'<li><a class="changeType" href="javascript:;" data-type-value="fax">Fax</a></li>'+
									'<li><a class="changeType" href="javascript:;" data-type-value="mobile">Mobile</a></li>'+
								'</ul>'+
							'</span>'+
							'<input type="text" name="phone['+index+'][number]" class="form-control" placeholder="+1 (999) 999 9999" />'+
							'<input type="hidden" name="phone['+index+'][type]" class="type-input" value="" />'+
							'<span class="input-group-btn">'+
								'<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>'+
							'</span>'+
						'</div>'
				);

			});
            myControlValues();
           
        });

        $(":input[type='radio']").on("change", function () {
            $('div[id^=info_]').hide();
            if ($(this).prop("checked")) {
                var checkedRadio = '#info_' + $(this).val();
                $(checkedRadio).show();
            }
        });
        function myControlValues() {
            document.getElementById("PessoaTipo").checked = true;
            $('#Cpf').mask('000.000.000-00', { reverse: true });
            $('#cnpj').mask('00.000.000/0000-00', { reverse: true });
           
        }
    </script>
    <style type="text/css">
        .phone-input{
	margin-bottom:8px;
}
    

    legend_ {
        border-bottom: 1px solid #b7cedf;
        color: #e89005;
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 15px;
        width: 100%;
    }

    table select {
    font-family: "ProximaNova",Helvetica,Arial,Verdana,sans-serif;
    height: 26px;
    line-height: normal;
    margin-bottom: 0;
    padding: 3px;
}

table th {
    font-family: "ProximaNovaSemibold" ,Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 6px 6px 12px;
    text-align: left;
    width: 20%;
}

table td {
    color: #333333;
    font-size: 13px;
    padding: 6px;
    text-align: left;
}

.checkbox-group {
}
.checkbox-group ul {
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.checkbox-group ul > li {
    display: inline;
}
.checkbox-group input {
    float: left;
}
.checkbox-group input {
    display: none;
}
.checkbox-group ul > li > label {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    box-shadow: 0 5px 5px -6px rgba(0, 0, 0, 0.8) inset;
    color: #444444;
    float: left;
    font-family: helvetica;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 12px 2px;
    text-decoration: none;
}
.checkbox-group ul > li:first-child > label {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.checkbox-group ul > li:last-child > label {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.checkbox-group ul > li > *:checked + label {
    background-color: #3399CC;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    color: #FFFFFF;
}
.checkbox-group ul > li > *:checked + *:hover, .checkbox-group ul > li > *:checked + label:focus {
    background-color: #3399CC;
    background-image: none;
}
.checkbox-group ul > li > label:hover, .checkbox-group ul > li > label:focus {
    background-color: #CCCCCC;
    background-image: none;
    color: #FFFFFF;
    cursor: pointer;
}
</style>
}
